html, body{
    margin: 0; 
}
h2{
    font-size:42px;
}

.navBarContainer{
    width:80%;
    margin: 0 auto;

}

header{
    background: Black;
}

header::after{
    content: '';
    display:table;
    clear:both;
}

.upperNav ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center; 
    list-style:none; 
}

.upperNav li{
    display: inline-block; 
    margin-left: 15px; 
    padding-bottom:15px; 
    padding-top:25px; 
    
    position:relative;
}

.upperNav a{
    color: white;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 18px; 
    font-family: 'Piazzolla', serif;
}



.upperNav a:before{
    content: '';
    display: block;
    height:5px;
    
    background-color: #444;

    position: absolute; 
    top:0;
    width:0%;

    transition: all ease-in-out 250ms;
}

.upperNav a:hover:before{
    width: 100%;
}


.openingPic{
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url(img/code.jpg);

    margin:0 auto; 
    font-size: 0; 
    max-width: 1920px;
    height: 1080px;  
    
    opacity:0.7;
    background-blend-mode: darken;

}

.name{
    color: white;

    text-align: center;

    position: absolute; 

  
    margin:auto;

    top:50%; 
    left:50%;
    margin-right:-50%;
    transform: translate(-50%, -50%);

    width: 500px; 


    background-color:rgba(0, 0, 0, .8);
    background-blend-mode: darken;

    opacity: 1;
    

  

    

}

.name h2{
    color: white; 
    opacity: 1;
}


.eduContainer{

    max-width:1920px; 
    margin: 0 auto; 
    font-size: 24px; 
    font-family: 'Piazzolla', serif;
    text-align: center;
  

    background: white;

}


.eduParrallax{
    background: url('img/Northern.jpg') no-repeat;
    background-size: cover; 
   
    background-attachment: fixed;
    height: 500px; 
   

    text-align:center;
    color: white; 
}

.Projects{
    text-align: center; 
    margin-top: 3%; 

    font-family: 'Piazzolla', serif;

}



.projectsContainer{
    margin: 0 auto; 

    padding-bottom: 100px;
}

.column{
    position: relative;
    
}

.text-block{
  position:absolute; 
  top:2px;
  left:6px;
  
  height:445px;
  width:445px;

  text-align:center;
  color: black;
  z-index:0;
  opacity: 1;
  
}

.text-block-2{
    position:absolute; 
    top:0px;
    left:465px;
    
    height:445px;
    width:445px;
  
    text-align:center;
    color: black;
    background-color: white;
    z-index:0;
    opacity: 1;
    
}

.text-block-3{
    position:absolute; 
    top:6px;
    left:6px;
    
    height:445px;
    width:445px;

    padding-top: 450px; 

    
  
    text-align:center;
    color: black;
    z-index:0;
    opacity: 1;
    
  }

  .text-block-4{
    position:absolute; 
    top:6px;
    left:6px;

    padding-left: 465px; 
    
    
    height:445px;
    width:445px;

    padding-top: 650px; 

    
  
    text-align:center;
    color: black;
    z-index:0;
    opacity: 1;
    
  }

.text-block p, .text-block-2 p, .text-block-3 p{
    text-align: center;
    margin-top:50%; 
    padding-left:10px;

    position: relative;

    font-family: 'Piazzolla', serif;
    font-size: 16px;
    font-style:bold;
    color:black;
    
}

.headerText{
    z-index: 5;
}

.column img{

    width: 450px;
    height: 450px;
    object-fit: cover; 
    margin: 0 auto;
    align-items: center; 

    border-style:solid;
    border-width: 5px;
    border-color: black;
    position:relative;

    z-index:5;
   
}

.row{
    display:flex; 
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
}

.column img:hover{
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity:0.2;
    
    
}

.column a{
    color: white;
    
}

footer{
    background: black;
}

.footerNavBarContainer{
    width:80%;
    margin: 0 auto;

}


.bottomNav ul{
    margin: 0 auto;
    padding: 0;
    width: 100%;
    text-align: center; 
    list-style:none; 
}

.bottomNav li{
    display: inline-block; 
    margin-left: 70px; 
    padding-bottom:15px; 
    padding-top:25px; 
    
    position:relative;
}

.bottomNav a{
    color: white;
    text-decoration: none; 
    text-transform: uppercase;
    font-size: 14px; 
}



.bottomNav a:before{
    content: '';
    display: block;
    height:5px;
    
    background-color: #444;

    position: absolute; 
    top:0;
    width:0%;

    transition: all ease-in-out 250ms;
}

.bottomNav a:hover:before{
    width: 100%;
}

.bottomNav img{
    z-index:6;
}




@media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }

    .text-block-3{
        position: absolute;

        
        top:2px;
        left:6px;
  
        height:445px;
        width:445px;

        text-align:center;
        color: black;
        z-index:0;
        opacity: 1;
    }


  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }

